body {
    width: 100%;
    margin: auto;
    padding: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    font-family: Helvetica;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #c8c8c8;
    border-left: 4px solid #c8c8c8;
    padding-left: 7px;
}

h2:hover {
    border-left: 4px solid #42704e;
    color: black;
    font-size:24px;
    font-weight: bold;
}

h3 {
    font-size: 13px;
    font-family: Helvetica;
    font-weight: bold;
}

p {
    font-size: 18px;
    line-height: 28px;
}

/*ancho del lienzo de la web*/

.lienzo {
    max-width: 1024px;
    margin: auto;
    border: 1px solid #d5d5d5;
}

/*Cabecera del portal*/

header {
    background: black;
    color: white;
    height: 80px;
    box-shadow: 0px 4px 10px 0px rgba(71, 71, 71, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
}

nav ul {
    display: flex;
}

.menuprincipal li {
    padding-left: 10px;
    padding-right: 10px;
}

.menuprincipal li a {
    font-size: 16px;
    color: #c7c7c7;
    text-decoration: none;
    float: left;
    padding-bottom: 8px;
}

.menuprincipal li a:hover {
    border-bottom: 4px solid #42704e;
}

/*Configuración general de todas las secciones incluidas en el main*/

main {
    margin-top: 80px;
}

section {
    padding: 35px 3%;
}

/*Acerca de mí*/

.aboutme .presentacion {
    display: flex;
    margin-top: 26px;
}

.aboutme .presentacion figure {
    width: 25%;
}

.aboutme figure img {
    width: 100%;
}

.aboutme figure img:hover {
    border: 8px solid #42704e;
    border-radius: 100%;
}

.aboutme .presentacion .resena {
    width: 75%;
    padding-left: 40px;
}

.aboutme .resena ul {
    display: flex;
    margin-top: 20px;
}

.aboutme .resena li {
    margin-right: 10px;
}

/*Portafolio*/

.portfolio .proyectos {
    margin-top: 26px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
}

.portfolio .presentacion-proyecto{
    position: relative;
}

.portfolio .detalle-proyecto{
    padding: 17px 22px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    display: none;
}

.proyectos .detalle-proyecto span{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.proyectos .detalle-proyecto p{
    font-family: Arial;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 14px;
}

.portfolio .proyectos img{
    width: 100%;
    border: 10px solid #f0f0f0;
    display: block;
}

.portfolio .proyectos img:hover{
    border: 10px solid #42704e;
}

/* Mis habilidades*/

.habilities .skills {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.habilities .tecnologia {
    display: flex;
}

.habilities h3 {
    width: 15%;
    margin: auto;
}

.habilities progress {
    width: 85%;
}

/* Contacto*/

.contactme {
    display: flex;
}

.contactme form {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.contactme h2 {
    margin-bottom: 26px;
    width: 100%;
}

.contactme .campos {
    width: 50%;
}

.contactme .campos input {
    width: 90%;
    height: 40px;
    border: 1px solid #d5d5d5;
    padding: 10px;
}

.contactme .campos input:hover{
    border: 1px solid #42704e;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.contactme textarea {
    width: 95%;
    height: 131px;
    border: 1px solid #d5d5d5;
    padding: 10px;
    resize: none;
}

.contactme textarea:hover{
    border: 1px solid #42704e;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.contactme .boton-enviar {
    margin-top: 39px;
    height: 44px;
    width: 160px;
    background: #42704e;
    border: none;
    color: white;
    font-size: 16px;
}

.contactme .datos {
    width: 30%;
    border-left: 1px solid #d5d5d5;
    padding-left: 19px;
}

.contactme p {
    font-size: 13px;
    font-family: Helvetica;
    margin: 6px 0px;
}

.contactme span {
    font-weight: bold;
    font-size: 13px;
    font-family: Helvetica;
}

/*Footer*/

footer {
    margin-top: top 40px;
    background: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px;
}

footer p {
    color: white;
    font-size: 11px;
}